<nav
  class="navbar navbar-dark bg-dark justify-content-center"
  style="color: white"
>
  Husni's Website
</nav>
<nav class="navbar navbar-expand-md" id="myHeader" #box>
  <div class="container conf">
    <a class="navbar-brand" type="button" href="/"
      ><i class="fas fa-home"></i
    ></a>
    <button
      class="navbar-toggler toggler-example pull-right ham"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="dark-blue-text"><i class="fas fa-bars fa-1x ham"></i></span>
    </button>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent1" #b>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="blogs"
            >Blog <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="garage-sale">Garage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="photo" tabindex="-1">Photo</a>
        </li>
      </ul>
      <ul class="nav2 navbar-nav pull-right">
        <li class="dropdown dropdown-menu-right" #a>
          <div
            *ngIf="!isLoggedIn; else loggedin"
            style="cursor: pointer;color: white;"
            class="dropdown-toggle ico"
          >
            <i class="fas fa-user-times"></i>
          </div>
          <ng-template #loggedin>
            <div class="row" style="cursor: pointer;">
              <a class="nav-link" href="#" tabindex="-1" (click)="onLogOut()"
                ><i class="fas fa-user-check"></i> SignOut</a
              >
            </div>
          </ng-template>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="auth"
                [queryParams]="{ type: 'signin' }"
                (click)="signIn(true)"
                ><i class="fas fa-sign-in-alt"></i> Sign In</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="auth"
                [queryParams]="{ type: 'signup' }"
                (click)="signIn(false)"
                ><i class="fas fa-user-plus"></i> Sign Up</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
