<div class="text-center">
  <h1 class="display-3">
    <i class="fas fa-user"></i>
  </h1>
  <h1 class="h3 mb-3 font-weight-normal">
    {{ authSignIn ? "Please Sign In" : "Sign Up" }}
  </h1>
  <form form (ngSubmit)="onSubmit(f, authType)" #f="ngForm" class="form-signin">
    <div class="form-group">
      <label for="email">Username</label>
      <div
        style="color:red;"
        *ngIf="!email.valid && email.touched && email.dirty"
      >
        Please enter a valid email
      </div>
      <input
        class="form-control"
        type="email"
        id="email"
        ngModel
        name="email"
        placeholder="enter e-mail"
        required
        email
        #email="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div style="color:red;" *ngIf="!password.valid && password.touched">
        Password invalid
      </div>
      <input
        class="form-control"
        type="password"
        id="password"
        ngModel
        name="password"
        placeholder="must be at least 6 characters long"
        required
        minlength="6"
        #password="ngModel"
      />
    </div>
    <div class="form-group" *ngIf="!authSignIn">
      <label for="retypePassword">Re-type Password</label>
      <div
        style="color:red;"
        *ngIf="
          confirmPassword.value !== password.value && confirmPassword.touched
        "
      >
        Password mismatch
      </div>
      <input
        type="password"
        id="retypePassword"
        class="form-control"
        ngModel
        name="retypePassword"
        placeholder="Re-type Password"
        required
        minlength="6"
        #confirmPassword="ngModel"
      />
    </div>
    <button class="btn btn-primary box btn-block mx-auto" type="submit">
      {{ authSignIn ? "SignIn" : "SignUp" }}
    </button>
  </form>
</div>

<!-- <form (ngSubmit)="onSubmit(f, buttonType)" #f="ngForm">
  <div class="form-group">
    <label for="email">Username</label>
    <input class="form-control" type="email" id="email" ngModel name="email" required email />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" ngModel name="password" required />
  </div>
  <button class="btn btn-primary" type="button" (click)="onSubmit(f, 'LogIn')">
    LogIn
  </button>
  |
  <button class="btn btn-primary" (click)="onSubmit(f, 'signUp')" type="button">
    SignUp
  </button>
</form> -->
