<!-- <app-header
  (isLoading)="spinner = $event"
  (errorMsg)="errorMsg = $event"
></app-header> -->
<div class="fixed-top">
  <app-header></app-header>
</div>
<div>
  <div class="row align-items-center justify-content-center">
    <div *ngIf="spinner; else spin" class="d-flex align-items-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <ng-template #spin>
      <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
      <div class="col-md-12 children0">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </div>
</div>
