<!-- <table border="1">
  <div class="row" *ngFor="let x of items; let i = index">
    <div><img [src]="x.imageUrl" alt="" style="max-height: 200px;" /></div>
    <div>
      <tr>
        <th>Item Name</th>
        <th>Item Price</th>
      </tr>
      <tr>
        <td>{{ x.name }}</td>
        <td>{{ x.price }}</td>
      </tr>
    </div>
  </div>
</table> -->
<div>
  <div class="container">
    <button class="btn-primary" style="margin-top: 10px;">
      <a style="color: white;" routerLink="new"> New Item </a>
    </button>
    <hr />
    <div class="row">
      <div
        class="col-md-3 list-group-item"
        *ngFor="let x of items; let i = index"
      >
        <img
          [src]="x.imageUrl"
          alt="test"
          class="img-responsive col"
          style="height: 100px; width: 100px;"
        />
        <div class="col-xs-12">
          <ul class="list-group">
            <h3>{{ x.title }}</h3>
            <h3>RM {{ x.price }}</h3>
            <li class="list-group-item">Description: {{ x.description }}</li>
            <li class="list-group-item">Contact: Any phone number</li>
            <!-- <span>
          <a
            target="_blank"
            href="{{
              'https://api.whatsapp.com/send?phone=' +
                x.phoneNum +
                '&text=Interested in your ' +
                x.name
            }}"
          >
            <div *ngIf="x.phoneNum" class="row col-md-6">
              <div class="col-md-3">
                <span class="icon"></span>
              </div>
              <span style="line-height:2.5">{{ x.phoneNum }}</span>
            </div>
          </a>
        </span> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
