<div class="row">
  <div class="col-xs-12">
    <img
      [src]="blog.imagePath"
      alt="{{ blog.title }}"
      class="img-responsive"
      style="max-height: 300px;"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ blog.title }}</h1>
  </div>
</div>
<div class="row" *ngIf="isLoggedIn">
  <div class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Manage Post
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item xyz" routerLink="edit">Edit Post</a>
      <a class="dropdown-item" (click)="onClick($event)">Delete Post</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ blog.post }}
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
