<main role="main" class="container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div
    class="d-flex align-items-center p-3 text-white-50 rounded shadow-sm"
    style="background-color: purple;"
  >
    <div class="lh-100">
      <h1 class="mb-0 text-white lh-100">
        MUHAMMAD HUSNI BIN FAURI @ FAUZI
      </h1>
      <h4>Web Developer, Football Fan, Gamer</h4>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img
            src="https://drive.google.com/uc?export=view&id=17tkkD_10dWPcQvxJMqBeBjceX12uEJCo"
            alt="No Image"
            class="img-responsive"
            style="max-height: 250px;
        min-height:250px;"
          />
          <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQRE7exLNP9TQNxitPK1COpZCjJijQGDpcCJAvuqA6g9MyfIZX0 -->
          <p style="color: blue; font-size: large;">Information</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Name: Muhammad Husni bin Fauri @ Fauzi
            </li>
            <li class="list-group-item">Age: 31</li>
            <li class="list-group-item">Location: Gombak, Selangor</li>
            <li class="list-group-item">Available For: Software Developer</li>
            <li class="list-group-item">Phone: +60133157243</li>
            <li class="list-group-item">Email: mhusnifauzi@gmail.com</li>
          </ul>
          <i class="fab fa-twitter"></i><i class="fab fa-whatsapp"></i>
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="col-md-7">
          <h1>
            Hello Stranger! Thank You For Visiting.<i
              class="far fa-smile-beam"
            ></i>
          </h1>
          <h5>I am Available for work</h5>
          <p>A bit about myself.</p>
          <p>
            I love learning and would like to know things that powers the world
            today. I follow latest technologies especially in electronics such
            as hardware design and also software development.
          </p>
          <p>
            I plan to pursue a career in software development. I am mostly
            interested in web and embedded software development but also looking
            for other opportunities in other software fields. Currently I am
            mostly proficient in javascript using Angular on the front end side
            while node.js on the backend side
          </p>
          <p>
            I am a degree holder in Computer and Information Engineering from
            International Islamic University Malaysia (IIUM)
          </p>
          <button class="btn btn-primary">
            <a
              style="color: white;"
              href="https://drive.google.com/file/d/1PP4hEnXIBxPL7VjryLWMNZErwwL2Pq5b/view?usp=sharing"
              >Download CV</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Testimonial</h2>
        <p>
          If you are looking for an entry position web developer then I am the
          right guy for you!
        </p>
      </div>
      <div class="col-md-4">
        <h2>Weather API</h2>
        <div *ngIf="weather">
          <h5>Weather Location: {{ weather.location }}</h5>
          <h5>Temperature: {{ weather.temperature }} &deg;C</h5>
        </div>
        <div id="openweathermap-widget-12"></div>
      </div>
      <div class="col-md-4">
        <h2>Latest Trump tweet</h2>
        <p>
          <a
            class="twitter-timeline"
            data-width="500"
            data-height="500"
            href="https://twitter.com/BinFauri?ref_src=twsrc%5Etfw"
            >Tweets by realDonaldTrump</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
</main>
