<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">
        Hello Stranger!<i class="far fa-smile-beam"></i>
      </h1>
      <div>Please login to view and post in blog.</div>
      <div>Sign up with a dummy email and you are good to go.</div>
      <div>
        Login duration is 1 hour and will automatically logout after that.
      </div>
      <div>
        Photo area is still under development and will be redicted to main page
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Latest Trump tweet</h2>
        <p>
          <a
            class="twitter-timeline"
            data-width="500"
            data-height="500"
            href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw"
            >Tweets by realDonaldTrump</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Weather API</h2>
        <div *ngIf="weather">
          <h5>Weather Location: {{ weather.location }}</h5>
          <h5>Temperature: {{ weather.temperature }} &deg;C</h5>
        </div>
        <div id="openweathermap-widget-12"></div>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Latest Blog post under development.
        </p>
      </div>
    </div>

    <hr />
  </div>
</main>
